<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF--8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- Pico.css - không cần file css, chỉ cần link này -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
    <link rel="stylesheet" href="/css/custom.css">
</head>
<body>
    <main class="container">
