<%- include('partials/header') %>

<div style="text-align: center; margin-top: 15vh;">
    <hgroup>
        <h1>IP Tracker</h1>
        <h2>by Gemlogin Tool (TuanHaii)</h2>
    </hgroup>
    <p>Please log in with your Discord account to continue.</p>
    <a href="/auth/discord" role="button" class="contrast">
      <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" style="vertical-align: middle; margin-right: 8px;"><!-- Discord Icon SVG here --></svg>
      Login with Discord
    </a>
</div>

<%- include('partials/footer') %>
