<%- include('partials/header_vietnamese') %>

<div style="text-align: center; margin-top: 15vh;">
    <hgroup>
        <h1>IP Tracker</h1>
        <h2>bởi Gemlogin Tool (TuanHaii)</h2>
    </hgroup>
    <p>Vui lòng đăng nhập bằng tài khoản Discord để tiếp tục.</p>
    <a href="/auth/discord" role="button" class="contrast">
      <svg width="24" height="24" viewBox="0 0 24 24" ...><!-- Icon SVG Discord --> </svg>
      Đăng nhập với Discord
    </a>
</div>

<%- include('partials/footer_vietnamese') %>
